@import "../01-variables/_base";

.text {
    &-left {
        float: left;
    }

    &-center {
        text-align: center;
    }

    &-right {
        float: right;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.navbar {
    margin: 0;

    a {
        color: $white;
        font-weight: bold;
    }
}