@import "../06-externals/_bootstrap";

.r333Navbar {
    top: 0;
    position: absolute;
    width: 100%;
    padding-top: 60px;

    @include media-breakpoint-down(lg) {
        padding-top: 0;
        position: fixed;
        z-index: 9999;
    }

    &-navbar {
        z-index: 9999;
        color: #ffffff;
        position: relative;
        @extend .container;

        &.collapse {
            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        &.collapsed {
            @include media-breakpoint-down(lg) {
                display: none;
            }

            @include media-breakpoint-up(lg) {
                display: block;
            }
        }

        &-left {
            padding-left: 30px;
            float: left;
        }

        &-center {
            text-align: center;
        }

        &-right {
            float: right;
        }

        &__nav {
            &-content {
                list-style: none;

                a {
                    color: #ffffff;

                    &:hover {
                        color: #ffffff;
                        text-decoration: none;
                        padding-bottom: 5px;
                        border-bottom: 2px solid #ffffff;
                    }

                    &:visited {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }

                li {
                    font-size: 16pt;
                    letter-spacing: 2px;
                    display: inline;
                    margin-left: 30px;

                    @include media-breakpoint-down(lg) {
                        display: block;
                        line-height: 2;
                    }
                }

                @include media-breakpoint-down(lg) {
                    padding-left: 0;
                    padding-top: 10px;
                }
            }

            &--active {
                padding-bottom: 5px;
                border-bottom: 2px solid #ffffff;
                width: fit-content;
            }

            &-menu {
                @include media-breakpoint-down(lg) {
                    position: fixed;
                    background: #212529;
                    width: 100%;
                    right: 0;

                    @media (max-width: 500px) {
                        min-width: 240px;
                    }
                }
            }
        }

        &__logo {
            font-family: "Pacifico", cursive;
            color: #fed136;
            display: block;

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    &-container {
        @extend .container-fluid;

        @include media-breakpoint-up(lg) {
            display: none;
        }

        @include media-breakpoint-down(lg) {
            position: relative;
            display: flex;
            justify-content: center;
            background-color: #212529;
            height: 50px;
        }

        .navbar-toggler {
            position: absolute;
            outline: none;
            z-index: 999999;
            padding: 0;
            right: 5%;
        }
    }
}

.burger {
    background: transparent;
    width: auto;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: 2.5em;

    .text {
        width: inherit;
        height: inherit;
        position: inherit;
        display: inherit;
        color: $white;
        right: 35px;
    }

    .bun {
        background: $white;
        position: absolute;

        &.bun-general {
            height: 2px;
            width: 25px;
        }

        &.bun-top {
            @extend .bun-general;
            top: 20px;
        }

        &.bun-mid {
            @extend .bun-general;
            top: 25px;
        }

        &.bun-bottom {
            @extend .bun-general;
            top: 30px;
        }
    }
}