// colors
$white: #FFFFFF;
$whiteSmoke: #f5f5f5;
$grey: #777;
$darkGrey: #333;
$boxShadow: rgba(0, 0, 0, 0.4);
$textShadow: rgba(0, 0, 0, 0.5);

// font sizes
$featuresHeadline: 42px;
$wrapperHeadline: 64px;
$wrapperContent: 24px;
$content: 18px;
$formContent: 14px;

// window sizes
$height: 100%;
$width: 100%;
$min-height: 100%;
$containerMarginTop: 10%;
$containerMarginBottom: 10%;

// welcome teaser
$teaserHeight: 80%;
$teaserWidth: 100%;
$teaserMinHeight: 80%;

// main page
$profileFloat: left;
$borderRadiusDescription: 250px 10px 10px 250px;
$profileDescriptionHeadlineBorderMargin: 0 0 0 110px;
$profileDescriptionHeadlineMargin: 0 0 0 150px;
$profileDescriptionContentMargin: 0 0 0 250px;

$sectionPadding: 40px 60px 110px 60px;